<div class="BorgerDkSearchOverlay" ng-controller="Skybrud.BorgerDk.SearchOverlay.Controller" ng-class="{loading: loading}">
    <umb-editor-view>
        <umb-editor-header
            name="model.title"
            hide-icon="true"
            hide-alias="true"
            name-locked="true"
            hide-description="true">
        </umb-editor-header>
        <umb-editor-container>
            <umb-box>
                <umb-box-content>
                    <div>
                        <input class="text" type="text" ng-model="params.text" style="width: 100%;" ng-change="textChanged()" placeholder="Søg på artiklens titel..." />
                    </div>
                    <div>
                        <table class="table list">
                            <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Publiceret</th>
                                <th>Opdateret</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="article in articles">
                                    <td>
                                        <a href="#" prevent-default ng-click="model.submit(article)">{{article.title}}</a>
                                    </td>
                                    <td class="nw">{{article.publishDate * 1000 | date: 'yyyy-MM-dd HH:mm'}}</td>
                                    <td class="nw">{{article.updateDate * 1000 | date: 'yyyy-MM-dd HH:mm'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button
                    type="button"
                    button-style="link"
                    label-key="general_close"
                    action="model.close()">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
    <umb-load-indicator ng-if="loading" />
</div>