<div ng-controller="Skybrud.BorgerDkArticlesDialog.Controller">
    <h5>Vælg artikel fra Borger.dk</h5>
    <div class="BorgerDkDialogHeader">
        <div class="btn-group">
            <button class="btn" ng-repeat="endpoint in endpoints" prevent-default="" ng-click="selectEndpoint(endpoint);" ng-class="{active: endpoint.id == active}">
                {{endpoint.name}}
                <span ng-show="endpoint.count >= 0">({{endpoint.articles.length}})</span>
            </button>
        </div>
        <input type="text" ng-model="query" style="margin: 0 0 0 10px; width: 100%;" placeholder="Søg på titel..." />
    </div>
    <div class="BorgerDkDialogContent" ng-repeat="endpoint in endpoints" ng-show="endpoint.id == active">
        <div class="div-table">
            <div class="thead">
                <div class="row">
                    <div class="col col-title">
                        <a href="#" prevent-default="" ng-click="sort('title', 'asc');">Titel</a>
                        <i class="icon" ng-class="{'icon-navigation-up': isSortDirection('title', 'asc'), 'icon-navigation-down': isSortDirection('title', 'desc')}"></i>
                    </div>
                    <div class="col col-date">
                        <a href="#" prevent-default="" ng-click="sort('published', 'asc');">Publiceret</a>
                        <i class="icon" ng-class="{'icon-navigation-up': isSortDirection('published', 'asc'), 'icon-navigation-down': isSortDirection('published', 'desc')}"></i>
                    </div>
                    <div class="col col-date">
                        <a href="#" prevent-default="" ng-click="sort('updated', 'asc');">Opdateret</a>
                        <i class="icon" ng-class="{'icon-navigation-up': isSortDirection('updated', 'asc'), 'icon-navigation-down': isSortDirection('updated', 'desc')}"></i>
                    </div>
                    <div class="col col-filler"></div>
                </div>
            </div>
            <div class="tbody" style="overflow-y: scroll;" ng-show="!loading && endpoint.articles.length > 0">
                <div class="row" ng-repeat="article in endpoint.articles">
                    <div class="col col-title">
                        <a href="#" prevent-default="" ng-click="submit(article)">{{article.title}}</a>
                    </div>
                    <div class="col col-date">{{article.published * 1000 | date: 'yyyy-MM-dd HH:mm'}}</div>
                    <div class="col col-date">{{article.updated * 1000 | date: 'yyyy-MM-dd HH:mm'}}</div>
                </div>
            </div>
            <div class="tbody" ng-show="!loading && endpoint.count == 0">
                <div class="col" style="padding: 50px; text-align: center;">
                    Din søgning under <strong>{{endpoint.name}}</strong> matchede ingen artikler.
                </div>
            </div>
            <div class="tbody" ng-show="loading || endpoint.count == -1">
                <div class="col" style="padding: 50px; text-align: center;">
                    Indlæser artikler...
                </div>
            </div>
        </div>
    </div>
    <div class="BorgerDkDialogFooter">
        <button prevent-default="" ng-click="close()" class="btn">
            <localize key="general_cancel">Cancel</localize>
        </button>
    </div>

</div>