<div class="BorgerDk BorgerDkEditArticle" ng-controller="Skybrud.BorgerDkDialog.Controller" ng-class="{loading: loading}">
    <div class="borgerdk-dialog-header">
        <div class="borgerdk-dialog-close" ng-click="close();"></div>
        <div class="borgerdk-dialog-title">Vælg artikel og indhold</div>
    </div>
    <div class="borgerdk-dialog-content has-footer BorgerDkInsertArticle" ng-show="mode == 'insert'">
        <label class="BorgerDkUrl">
            <strong>Sidens adresse</strong>
            <div>
                <input type="text" ng-model="value.url" ng-change="urlChanged()" />
                <button class="btn" title="Genindlæs artikel" type="button" ng-click="reload()" ng-disabled="value.url.length == 0">
                    <i class="icon icon-refresh"></i>
                </button>
                <em style="line-height: 30px; padding: 0 15px;">eller</em>
                <button class="btn" title="Vælg artikel fra liste" type="button" ng-click="search()" style="white-space: nowrap;">
                    <i class="icon icon-search"></i>
                    Søg efter artikel
                </button>
            </div>
        </label>
        <div class="BorgerDkExample" ng-show="!article">
            Fx https://www.borger.dk/Sider/Drikkevand-og-vandforbrug.aspx
        </div>
        <div ng-show="insertError" style="padding: 50px; text-align: center;">
            <strong>Der opstod en fejl</strong><br />
            {{insertError.error}}
        </div>
        <div class="BorgerDkArticle" ng-show="!insertError && article">
            <ul class="BorgerDkDetails">
                <li>
                    <label>ID</label>
                    <span class="BorgerDkId">{{article.id}}</span>
                </li>
                <li>
                    <label>Publiceret</label>
                    <span class="BorgerDkPublished">{{article.published * 1000 | date: 'yyyy-MM-dd HH:mm'}}</span>
                </li>
                <li>
                    <label>Ændret</label>
                    <span class="BorgerDkUpdated">{{article.modified * 1000 | date: 'yyyy-MM-dd HH:mm'}}</span>
                </li>
                <li>
                    <label>Titel</label>
                    <span class="BorgerDkUpdated">{{article.title}}</span>
                </li>
                <li>
                    <label>Teaser</label>
                    <span class="BorgerDkUpdated">{{article.header}}</span>
                </li>
            </ul>

            <div class="BorgerDkContent" ng-if="config.mergeTypes">
                <br />
                <h4>
                    Indhold
                </h4>
                <div class="table BorgerDkMicroArticles">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" ng-checked="all == article.all.length" ng-click="toggleAll()" />
                                </th>
                                <th style="width: 100%;">Beskrivelse</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="element in article.all">
                                <td>
                                    <input id="{{id}}_{{element.id}}" type="checkbox" ng-model="element.selected" ng-change="updateSelected(element);" />
                                </td>
                                <td>
                                    <a class="more" href="#" ng-click="element.expanded = !element.expanded" prevent-default="">{{element.expanded ? 'Skjul dette indhold' : 'Vis dette indhold'}}</a>
                                    <label class="title" for="{{id}}_{{element.id}}">
                                        <span ng-style="{fontWeight: element.type == 'microArticle' ? 'bold' : 'normal'}">{{element.title}}</span>
                                        <span class="comment">({{element.type == 'microArticle' ? 'mikroartikel' : element.id}})</span>
                                    </label>
                                    <div class="BorgerDkElementContent" ng-show="element.expanded">
                                        <div ng-bind-html="element.content"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="BorgerDkContent" ng-if="!config.mergeTypes">
                <br />
                <h4 ng-if="article.micro.length > 0">Mikroartikler</h4>
                <div ng-if="article.micro.length > 0" class="table BorgerDkMicroArticles">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" ng-checked="microArticles == article.micro.length" ng-click="toggleMicroArticles()" />
                                </th>
                                <th style="width: 100%;">Beskrivelse</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="micro in article.micro">
                                <td>
                                    <input id="{{id}}_{{micro.id}}" type="checkbox" ng-model="micro.selected" ng-change="updateSelected(micro);" />
                                </td>
                                <td>
                                    <a class="more" href="#" ng-click="micro.expanded = !micro.expanded" prevent-default="">{{micro.expanded ? 'Skjul dette indhold' : 'Vis dette indhold'}}</a>
                                    <label class="title" for="{{id}}_{{micro.id}}">
                                        {{micro.title}}
                                        <!--<span class="comment">({{micro.id}})</span>-->
                                    </label>
                                    <div class="BorgerDkElementContent" ng-show="micro.expanded">
                                        <div ng-bind-html="micro.content"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4 ng-if="article.other.length > 0">Andet indhold</h4>
                <div ng-if="article.other.length > 0" class="table BorgerDkBlocks">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" ng-checked="blocks == article.other.length" ng-click="toggleBlocks()" />
                                </th>
                                <th style="width: 100%;">Beskrivelse</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="element in article.other">
                                <td>
                                    <input id="{{id}}_{{element.type}}" type="checkbox" ng-model="element.selected" ng-change="updateSelected(element);" />
                                </td>
                                <td>
                                    <a class="more" href="#" ng-click="element.expanded = !element.expanded" prevent-default="">{{element.expanded ? 'Skjul dette indhold' : 'Vis dette indhold'}}</a>
                                    <label class="title" for="{{id}}_{{element.type}}">
                                        {{element.title}}
                                        <span class="comment">({{element.type}})</span>
                                    </label>
                                    <div class="BorgerDkElementContent" ng-show="element.expanded">
                                        <div ng-bind-html="element.content"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="borgerdk-dialog-content has-footer BorgerDkSearch" ng-show="mode == 'search'">
        <div style="display: flex;">
            <div class="btn-group">
                <button class="btn" ng-repeat="endpoint in endpoints" prevent-default="" ng-click="selectEndpoint(endpoint);" ng-class="{active: endpoint.id == selectedEndpoint}">
                    {{endpoint.name}}
                    <span ng-show="endpoint.count >= 0">({{endpoint.articles.length}})</span>
                </button>
            </div>
            <input type="text" ng-model="query" style="margin: 0 0 0 10px; width: 100%;" placeholder="Søg på titel..." />
        </div>
        <div class="BorgerDkDialogContent" ng-repeat="endpoint in endpoints" ng-show="endpoint.id == selectedEndpoint" style="height: calc(100% - 50px); margin-top: 10px;">
            <div ng-show="listError" style="padding: 50px; text-align: center;">
                <strong>Der opstod en fejl</strong><br />
                {{listError.error}}
            </div>
            <div class="div-table" ng-show="!listError">
                <div class="thead">
                    <div class="row">
                        <div class="col col-title">
                            <a href="#" prevent-default="" ng-click="sort('title', 'asc');">Titel</a>
                            <i class="icon" ng-class="{'icon-navigation-up': isSortDirection('title', 'asc'), 'icon-navigation-down': isSortDirection('title', 'desc')}"></i>
                        </div>
                        <div class="col col-date">
                            <a href="#" prevent-default="" ng-click="sort('published', 'asc');">Publiceret</a>
                            <i class="icon" ng-class="{'icon-navigation-up': isSortDirection('published', 'asc'), 'icon-navigation-down': isSortDirection('published', 'desc')}"></i>
                        </div>
                        <div class="col col-date">
                            <a href="#" prevent-default="" ng-click="sort('updated', 'asc');">Opdateret</a>
                            <i class="icon" ng-class="{'icon-navigation-up': isSortDirection('updated', 'asc'), 'icon-navigation-down': isSortDirection('updated', 'desc')}"></i>
                        </div>
                        <div class="col col-filler"></div>
                    </div>
                </div>
                <div class="tbody-wrapper">
                    <div class="tbody" ng-show="!loading && endpoint.articles.length > 0">
                        <div class="row" ng-repeat="article in endpoint.articles">
                            <div class="col col-title">
                                <a href="#" prevent-default="" ng-click="selectArticle(article)">{{article.title}}</a>
                            </div>
                            <div class="col col-date">{{article.published * 1000 | date: 'yyyy-MM-dd HH:mm'}}</div>
                            <div class="col col-date">{{article.updated * 1000 | date: 'yyyy-MM-dd HH:mm'}}</div>
                        </div>
                    </div>
                    <div class="tbody" ng-show="!loading && endpoint.count == 0">
                        <div class="col" style="padding: 50px; text-align: center;">
                            Din søgning under <strong>{{endpoint.name}}</strong> matchede ingen artikler.
                        </div>
                    </div>
                    <div class="tbody" ng-show="loading || endpoint.count == -1">
                        <div class="col" style="padding: 50px; text-align: center;">
                            Indlæser artikler...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="borgerdk-dialog-footer">
        <div class="pull-right">
            <a href="" ng-click="cancel()" class="btn btn-link">
                Annuller
            </a>
            <button class="btn btn-primary" ng-click="confirm()" ng-show="mode == 'insert'">
                Gem
            </button>
        </div>
    </div>

    <skybrud-borger-dk-loader />

</div>